@import url("./global.css");
@import url("./burger-menu.css");
@import url("./tablette.css");

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    border-top: 1px solid #E2E2E2;
    text-align: center;
    font-size: 2vw;
    margin-top: 5%;
    padding: 5% 0;
}


.logo {
    align-self: center;
    width: 20%;
    margin: 2% 0;
}

.flex-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.main-title {
    align-self: center;
    font-family: mali;
    font-style: italic;
    font-weight: bold;
    color: brown;
    font-size: 6vw;
    width: 60%;
    text-align: center;
    margin: 2% 0;
}

.main-citation {
    align-self: center;
    font-style: italic;
    font-weight: bold;
    font-size: 3vw;
    width: 60%;
    text-align: center;
    margin: 5% 0;
}

.main-img {
    align-self: center;
    object-fit: cover;
    width: 60%;
    height: 40%;
    margin: 2% 0;
}

.main-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: justify;
    width: 60%;
    margin: 2% 0;
}

.main-txt p {
    align-self: center;
    font-size: 2vw;
    margin: 2% 0;
}


.main-top5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 60%;
    margin: 2% 0;
    
}

.main-top5 h2 {
    font-weight: bold;
    font-size: 2vw;
    margin: 3% auto;
    text-align: center;
    padding-bottom: 3%;
    border-bottom: 2px solid #000000;
}

.main-top5 ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.main-top5 ol li {
    margin-left: 10%;
    font-size: 2vw;
    width: 19vw;
    text-align: left;
    align-self: center;
}

.main-galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    width: 60%;
    margin: 2% 0;
    
}

.main-galerie h2 {
    font-weight: bold;
    font-size: 2vw;
    margin: 3% auto;
    text-align: center;
    padding-bottom: 3%;
    border-bottom: 2px solid #000000;
}

.main-galerie img {
    margin: 2% 20%;
}