@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-bar .menu-icone, .nav-bar .menu-bouton {
        display: none;
        pointer-events: none;
    }

    .nav-bar .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        max-height: 100%;
    }
}