@media (min-device-width: 800px) and (max-device-width: 1280px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-bar .menu-icone, .nav-bar .menu-bouton {
        display: none;
        pointer-events: none;
    }

    .nav-bar .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        max-height: 100%;
    }
}